# Copyright Broadcom, Inc. All Rights Reserved.
# SPDX-License-Identifier: APACHE-2.0

annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  category: Analytics
  images: |
    - name: os-shell
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: thanos
      image: registry1.dso.mil/ironbank/thanos/thanos:v0.40.1
  bigbang.dev/applicationVersions: |
    - Thanos: v0.40.1
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find upstream chart's release notes and CHANGELOG here](https://github.com/bitnami/charts/blob/main/bitnami/thanos/CHANGELOG.md)
    - [Find upstream applications's release notes and CHANGELOG here](https://github.com/thanos-io/thanos/releases)
apiVersion: v2
appVersion: v0.40.1
dependencies:
  - name: minio-instance
    alias: minio
    version: 7.1.1-bb.15
    repository: oci://registry1.dso.mil/bigbang
    condition: minio.enabled
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.x.x
  - name: gluon
    version: 0.9.6
    repository: oci://registry1.dso.mil/bigbang    
description: Thanos is a highly available metrics system that can be added on top of existing Prometheus deployments, providing a global query view across all Prometheus installations.
home: https://bitnami.com
icon: https://dyltqmyl993wv.cloudfront.net/assets/stacks/thanos/img/thanos-stack-220x234.png
keywords:
- analytics
- monitoring
- prometheus
- thanos
maintainers:
- name: Broadcom, Inc. All Rights Reserved.
  url: https://github.com/bitnami/charts
name: thanos
sources:
- https://github.com/bitnami/charts/tree/main/bitnami/thanos
version: 17.3.3-bb.1
